.header-wrapper{
    background-color: #1E1E1E;
    padding: 15px 0;

    .header{
        h1{
            font-family: 'Architects Daughter', cursive;
            color: white;
            margin: 0;
        }
    }
}