.pagination{
    margin-top: 25px;
    button{
        margin-left: 5px;
        cursor: pointer;
    }
    .paginate__btn{
        background-color: transparent;
        border: 1px solid #1E1E1E;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        font-weight: 600;
    }
    .paginate__btnActive{
        background-color: #1E1E1E;
        color: white;
        border: 1px solid #1E1E1E;
        width: 25px;
        height: 25px;
        border-radius: 3px;
        font-weight: 600;
    }
}