.people-info-little__wrapper{
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    border-left: 1px solid #EBEBEB;
    border-top: 1px solid #EBEBEB;
    border-radius: 10px;
    margin: 25px 0;

    h4{
        background-color: #1E1E1E;
        margin: 0;
        color: white;
        padding: 10px 20px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    h5{
        font-size: 18px;
        text-decoration: underline;
        margin: 0;
    }

    .people-info-little{
        padding: 0 10px 10px 10px;

        span{
            font-weight: 600;
        }
    }
}