.search-wrapper{
    display: flex;
    //justify-content: space-between;

    input{
        padding: 10px;
        flex-basis: 60%;
        outline: none;
    }

    button{
        padding: 10px;
        flex-basis: 15%;
        background-color: #1E1E1E;
        color: white;
        border: none;
        cursor: pointer;
    }

    .search-remove__btn{
        padding: 10px;
        flex-basis: 10%;
        background-color: #F31312;
        color: white;
        border: none;
        cursor: pointer;  
        margin-left: 10px;
    }
}